<h2 style="text-align: center;">Welcome to dashboard</h2>
<ul>
    <li>
        <a routerLink="/maxleaves" routerLinkActive="active">MaxleavesSettings</a>  <!-- We use routerLink instead of href to prevent our page from refresh  -->
    </li>
    <li>
        <a routerLink="/employeewise" routerLinkActive="active">EmployeeWiseLeaves</a>
    </li>
    <li>
        <a routerLink="/datewise" routerLinkActive="active">DateWiseLeaves</a>
    </li>
    <li>
        <a class="logout" routerLink="/logout" routerLinkActive="active">Logout</a>
    </li>
</ul>